<%= render 'posts/sides'  %>


<h1>Notifications</h1>	<br />
	<% @notificationsNotSeen.each do |n| %>
		<div id="notification">
			<% @post = n.comment.post %>
			<%= image_tag "home.png"%>
			 <span id="noti_time"> At <%= n.created_at %></span><br/>
			 <span id="noti_body"><%= n.comment.user.name%> commented on Your <a  class="Notification_posts" href='/posts/<%=@post.id%>'>Post</a> </span>
		</div>	
	<%end%>
	<br /> <hr />
	<h2> Old Notifications </h2>
	<% @oldNotifications.each do |n| %>
		<div id="notification">
			<% @post = n.comment.post %>
			<%= image_tag "home.png"%>
			 <span id="noti_time"> At <%= n.created_at %></span><br/>
			 <span id="noti_body"><%= n.comment.user.name%> commented on Your <a  class="Notification_posts" href='/posts/<%=@post.id%>'>Post</a> </span>
		</div>	
	<%end%>


<br /> <hr />