<div id="write" data-remote="true">
  <h3>Editing a Post ...</h3>
    <form method="POST" action="/posts/<%= @post.id %>?kind=<%= @post.kind%>" data-remote="true">
      <span>Title : </span><textarea id="post_title"  name="title" > <%=breaking_wrap_wrap(@post.title, col = 40) %></textarea> <br /><br />
      <span>Category : </span><select name="category" >
        <option value="ComputerAndSystemsEngineering" <%= if @post.category == "ComputerAndSystemsEngineering" then "selected" end%>>Computer and Systems</option>
        <option value="ElectricalEngineering" <%= if @post.category == "ElectricalEngineering" then "selected" end%>>Electrical Engineering</option>
        <option value="ArchitecturalEngineering" <%= if @post.category == "ArchitecturalEngineering" then "selected" end%>>Architectural Engineering</option>
        <option value="MechanicalEngineering" <%= if @post.category == "MechanicalEngineering" then "selected" end%>>Mechanical Engineering</option>
        <option value="ProductionEngineering" <%= if @post.category == "ProductionEngineering" then "selected" end%>>Production Engineering</option>
        <option value="ChemicalEngineering" <%= if @post.category == "ChemicalEngineering" then "selected" end%>>Chemical Engineering</option>
        <option value="NuclearEngineering" <%= if @post.category == "NuclearEngineering" then "selected" end%>>Nuclear Engineering</option>
        <option value="MarineEngineering" <%= if @post.category == "MarineEngineering" then "selected" end%>>Marine Engineering</option> 
      </select><br /><br />
      <textarea  name="body" rows="30" cols="70" ><%= breaking_wrap_wrap(@post.body, col = 55) %></textarea><br /> 
      <input id="ask" type="submit" value="POST">
    </form>
</div>