<div id="sidebar">

		<h4>Categories</h4>
		<ul>
			<% @categories.each do |cat|%>
				<li> <a href="/posts/show_cat/<%=cat.name%>?kind=question"><%=cat.title%></a> </li>
			<%end%>
		</ul>

</div> <!-- end of sidebar div -->   

<div id="rightSide">
		<h3 background-color="93b874">Ask a question</h3>
		<form method="post" action="/posts?kind=question">
			<span>Title : </span><input  id="qtitle" type="text" name="title"><br /><br />
			<span>Category : </span><select name="category">
				<% @categories.each do |cat|%>
					<option value="<%= cat.name %>"><%= cat.title%></option>	
				<% end %>
			</select><br /><br />
			<textarea  name="body" rows="5" cols="30" ></textarea><br /> 
			<input id="ask" type="submit" value="Ask">

		</form>

</div>

<div id="recommended_posts">

	<p>Recommended posts</p><hr />
	<ul>
		<% recommended_posts %>
		<%$rec_posts.each do |p|%>
		<li><a href="/posts/<%=p.id%>"><%= p.title %></a></li>
		<% end %>
	</ul>

</div>