<% @comment =@post.comments[-1]%>
$('<div id="<%= @comment.id%>"><div id="con" ><div id="rating" data-remote="true" > <a data-remote ="true" href="/comments/<%=@comment.id%>/like"><%= image_tag("up.png" , width: 50) %></a><h2 id="ra_<%=@comment.id%>"><%= @comment.rating%></h2><a data-remote = "true" href="/comments/<%=@comment.id%>/dislike"><%= image_tag("down.png" , width: 50) %></a></div>	<div class="comment"><div class="userInfo"><%= image_tag current_user.photo.url(:small)%><h3><%= @post.comments[-1].user.name %></h3></div><span><%= @post.comments[-1].body %></span><div class="option" id="destroy_comment" ><a data-remote="true" data-method="delete" href="/comments/delete/<%=@post.comments[-1].id%>?post_id=<%=@post.id%>" >Delete</a></div><br /></div></div></div>').prependTo($('.allComments'));
$('input[type=text], textarea').val('');




