<%= render 'posts/sides'  %>

	<div id="show_post" data-remote="true">
		<div id="Question_head">
			<div id="Question_cat">
				<a href="/posts/show_cat/<%= @post.category%>?kind=question"> <%= @post.category  %></a>
			</div>
			<div id="Question_time">
				<%= @post.created_at %>
			</div>
		</div>
		<h1 id="qTitle"><%= breaking_wrap_wrap(@post.title, col = 30) %></h1>
		<div  class="userInfo">
			<%= image_tag "http://s22.postimg.org/vs5m2by99/image.png"%>
			<h3> <a href="/user/<%=@post.user_id%>"><%= @post.user.name %> </a></h3>
		</div>
		<br />
		<span id="qBody"><%= @post.body %></span>
		<h4 id="likesNum"> <%= @post.likes%> people like this</h4> 
	</div>
	<div id="update_post">
		<% if (current_user.id == @post.user_id)%>
			<div class = "option" id="edit" >
			<a  href="/posts/<%=@post.id%>/edit" data-remote="true">Edit</a>
			</div>

			<div class = "option" id="destroy">
			<%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' } %>
			</div>
			<div class = "option" id="like" >
				<% if !liked(@post.id,"post") %>
					<a  id="likeBut" href="/posts/<%=@post.id%>/like" data-remote="true">Like</a>
				<% else %>
					<a  id="likeBut" href="/posts/<%=@post.id%>/unlike" data-remote="true">Unlike</a>
				<% end %>
			</div>
		<% else%>
			<div class = "option" id="likeNotWriter" >
				<% if !liked(@post.id,"post") %>
					<a  id="likeBut" href="/posts/<%=@post.id%>/like" data-remote="true">Like</a>
				<% else %>
					<a  id="likeBut" href="/posts/<%=@post.id%>/unlike" data-remote="true">Unlike</a>
				<% end %>
			</div>
		<% end %>

	</div>

	<div id="newComment">
		<div class="userInfo">
			<%= image_tag "http://s22.postimg.org/vs5m2by99/image.png"%>	
			<h3> <%= current_user.name %> </h3>
		</div>
		<form  method = "POST"  action="/comments/create?post_id=<%=@post.id %>" data-remote="true">
			<div id="text">
		    	<textarea cols="70" , rows="3" name="body"></textarea>
		    </div>
		    <div id="submit">
		    	<input type="submit" value="Add Comment"> 
		    </div> 
	 	</form>
	</div> <br />

	<div class="allComments">
		<% @comments.each do |comment| %>
				<div id="<%= comment.id%>">
					<div id="con" >
						<div id="rating" data-remote="true" > 
								<a data-remote ='true' href="/comments/<%=comment.id%>/like"><%= image_tag("up.png" , width: 50) %></a>
								<h2 id="ra_<%=comment.id%>"><%= comment.rating%></h2>
								<a data-remote = 'true' href="/comments/<%=comment.id%>/dislike"><%= image_tag("down.png" , width: 50) %></a>
						</div>
						<div class="comment">
							<div class="userInfo">
							  <%= image_tag "http://s22.postimg.org/vs5m2by99/image.png"%>
							  <h3> <%= comment.user.name %></h3>
							 </div> 
						  <span><%=comment.body%></span>
						   <% if current_user.id == comment.user.id or current_user.id == @post.user_id %>
							  	<div class = "option" id="destroy_comment" data-remote="true">
									<a data-remote = 'true' data-method='delete' href="/comments/delete/<%=comment.id%>?post_id=<%=@post.id%>" >Delete</a>
								</div>
							<%else%>
								<br /><br />	
							<% end %>
							<br />
						</div>
					</div>
				</div>
		<% end %>
	</div>
<br />
