<%= render 'posts/sides'  %>

<div id="show_post">
	<h2><%= breaking_wrap_wrap(@post.title, col = 40) %></h2>
	<span><%= breaking_wrap_wrap(@post.body, col = 55) %></span>
</div>

<% if (current_user.id == @post.user_id)%>
	<div class = "option" id="edit">
	<a  href=<%= edit_post_path(@post) %>>Edit</a>
	</div>

	<div class = "option" id="destroy">
	<%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' } %>
	</div>
<% end %>

<div id="newComment">
	


</div>	
