<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <link rel="stylesheet" type="text/css" href="mystyle.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body >

	<div id="header">

		<div id="logo">
			<a href="/"> <%=image_tag("logo.PNG", alt: "Logo")%> </a>
		</div> <!-- end of logo div -->

		<div id="search">
			<form action="#">
				<input id= "box" type='text' name='query'>
				<input id="searchButton" type='submit' value="Search">
			</form>
		</div> <!-- end of search div -->

		<div id="buttons">
			<ul>
				<li> <a href="">Home</a> </li>
				<li> <a href="">Write</a> </li>
				<li> <a href="">Notifications</a></li>
				<li> <a href="">Settings</a></li>
			</ul>	
			<button id="newQ" type="button" onclick="location.href='/'">Ask Question </button>

		</div> <!-- end of buttons div -->

	</div> <!-- end of header div -->   


		

<%= yield %>

</body>
</html>
