<!DOCTYPE html>
<html>
<head>
  <title>Ezay</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body >
		<%-# NEW FILE FROM HERE -%>
		
		<ul >
		  <li class="myButton"><%= link_to "Home",       root_path %></li>
		  <% if user_signed_in? %>
		    <li class="myButton"><%= link_to "Edit Settings", edit_user_registration_path %></li>
		    <li class="myButton"> <%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
		  <% else %>
		    <li class="myButton"><%= link_to "Sign in", new_user_session_path %></li>
		    <li class="myButton"><%= link_to "Sign up", new_user_registration_path %></li>
		  <% end %>
		</ul>

		<link rel="stylesheet" type="text/css" href="button.css" media="screen" />

		<%-# To here -%>

<%= yield %>

</body>
</html>
